<section class="feature pt-0 pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="section-header @@disply"{% if remove_top_padding %}style="padding-top:0;"{% endif %}>
          <h2>{{ title }}<span>{{ title_suffix }}</span></h2>
          <p>{{ description | markdownify}}</p>
        </div>
      </div>
    </div>
  </div>
</section>