collections_config:
  pages:
    schemas:
      page:
        path: site/schemas/page.html
    _enabled_editors:
      - visual
  blog:
    path: 'blog'
    schemas:
      default:
        path: site/schemas/post.md
    _enabled_editors:
      - content
      - visual

_inputs:
  date:
    instance_value: now
  title_suffix:
    comment: Added at the end of the title and highlighted in a different color
  social[*].icon:
    type: select
    options:
      values:
        - ph-facebook-logo
        - ph-instagram-logo
        - ph-twitter-logo
        - ph-github-logo
        - ph-youtube-logo
  logo_url:
    comment: Link for the logo in the top left of the footer
  copyright:
    comment: Automatically prefixed with the current year
  isActive:
    type: switch
  page_description:
    comment: Defaults to the description set in the Site SEO data file
  favicon_icon:
    type: image
    comment: For the shortcut icon meta tag
  faivcon_image:
    type: image
    comment: For the icon meta tag
  canonical_url:
    comment: Defaults to the pages url
  featured_image:
    comment: Defaults to the image set in the Site SEO data file
  open_graph_type:
    comment: Defaults to the type 'website'
  author_twitter_handle:
    comment: Defaults to the twitter site value set in the Site SEO data file
  no_index:
    type: checkbox
    comment: When selected this removes the page from your sitemap and adds the noindex robots meta tag
  layout:
    hidden: true
  eleventyExcludeFromCollections:
    hidden: true
  
