.feature-hero {
   background: $color-gray-dark;
   padding: $base-padding * 8 0 $base-padding * 4;
   overflow: hidden;
   @include media-breakpoint-down-lg {
      padding: $base-padding * 9 0 $base-padding * 0;
      text-align: center;
   }
   @include media-breakpoint-down-sm {
      padding: $base-padding * 8.5 0 $base-padding * 0;
   }
   &-content {
      h1 {
         margin-bottom: $base-margin * 1.5;
         @include media-breakpoint-down-xxl {
            font-size: $base-font-size * 3.9;
         }
         @include media-breakpoint-down-xl {
            font-size: $base-font-size * 3.2;
            line-height: 60px;
         }
         @include media-breakpoint-down-lg {
            font-size: $base-font-size * 3.9;
            line-height: 70px;
         }
         @include media-breakpoint-down-md {
            font-size: $base-font-size * 3.5;
         }
         @include media-breakpoint-down-sm {
            font-size: $base-font-size * 2.5;
            line-height: 50px;
         }
      }
      p {
         font-size: $base-font-size * 1.3;
         font-weight: 500;
         line-height: 36.3px;
         letter-spacing: -0.4px;
         padding-right: 50px;
         padding-right: $base-padding * 9;
         margin-bottom: $base-margin * 3.1;
         @include media-breakpoint-down-xxl {
            padding-right: $base-padding * 5;
         }
         @include media-breakpoint-down-xl {
            padding-right: $base-padding * 0;
         }
         @include media-breakpoint-down-lg {
            padding: $base-padding * 0 $base-padding * 5;
         }
         @include media-breakpoint-down-md {
            padding: $base-padding * 0 $base-padding * 0;
         }
      }
   }
   &-banner {
      position: relative;
      img {
         z-index: 1;
         max-width: 100%;
      }
      .shape {
         -webkit-mask-image: url(/images/feature/effect-4.png);
         mask-image: url(/images/feature/effect-4.png);
         background: $color-background-effects;
         position: absolute;
         top: 2%;
         z-index: -1;
         right: 0%;
         img {
            visibility: hidden;
         }
      }
   }
}
