<section class="privacy-hero">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="privacy-hero-content text-center">
               <h1>{{title}}</h1>
            </div>
         </div>
      </div>
   </div>
</section>
