.error {
   position: relative;
   background: $color-secondary;
   &-content {
      position: relative;
      h3 {
         color: $color-header;
         font-weight: $bold-font-weight;
      }
      img {
         max-width: 100%;
      }
   }
}
