.pricing-inner {
   position: relative;
   padding: $base-padding * 14 $base-padding * 0 $base-padding * 27;
   @include media-breakpoint-down-xxl {
      padding: $base-padding * 10 $base-padding * 0 $base-padding * 27;
   }
   @include media-breakpoint-down-lg {
      padding: $base-padding * 10 $base-padding * 0 $base-padding * 25;
   }
   @include media-breakpoint-down-md {
      padding: $base-padding * 10 $base-padding * 0 $base-padding * 27;
   }
   @include media-breakpoint-down-sm {
      padding: $base-padding * 8.5 $base-padding * 0 $base-padding * 27;
   }
   .section-header {
      padding: 0 0 $base-padding * 1;
      h2 {
         font-size: $base-font-size * 4;
         line-height: 80px;
         margin-bottom: $base-margin * 1.5;
         @include media-breakpoint-down-xl {
            font-size: $base-font-size * 3.9;
         }
         @include media-breakpoint-down-lg {
            font-size: $base-font-size * 3.5;
            line-height: 70px;
         }
         @include media-breakpoint-down-md {
            font-size: $base-font-size * 3;
            line-height: 60px;
         }
         @include media-breakpoint-down-sm {
            font-size: $base-font-size * 2.5;
            line-height: 50px;
         }
      }
      p {
         font-size: $base-font-size * 1.35;
      }
   }
}
